body {
    background-color: rgb(228, 216, 227);
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}


.nav {
    padding: 20px;
    margin:  0 auto 20px;
    text-align: center;
    border-bottom: 1px solid gray;
}

.nav a {
    margin-right: 30px;
    text-decoration: none;
    color: black;
}

main {
    display: flex;
    justify-content: space-around;
}

h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 27px;
    line-height: 37px;
    color: rgb(148, 38, 133);
    text-align: center;
}


h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    line-height: 38px;
    color: rgb(180, 73, 166);
}

.photo {
    display: block;
    border-radius: 50%;
    border: 3px solid rgb(212, 222, 230);
    margin: 50px auto;
}

.skills ul {
    list-style: url(./img/list-style.svg);
}

.skills li:nth-of-type(even) {
    background-color: rgb(213, 220, 221);
}

.path-list {
    list-style: url(./img/list-style_2.svg);
}

.path li:nth-of-type(odd) {
    background-color: rgb(212, 222, 230);
}

.contacts {
    margin: -350px 0 0 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contacts-list ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}

.contacts-list ul li {
    margin-right: 30px;
}

@media (max-width: 1140px) {
    .main {
        display: flex;
        flex-direction: column;
    }
    .contacts {
        margin: 0 auto;
        text-align: center;
    }
    .contacts-list ul {
        justify-content: center;
    }
}